<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>尊享服务</title>
<link rel="stylesheet" type="text/css" href="/home/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/home/css/common.css" />
<link rel="stylesheet" type="text/css" href="/home/css/heder_nav-menu.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/service.css"/>
</head>

<body>

	{{include "home/public/header.html"}}
<div id="header_nav-wrapper">
    <div class="header_nav">
    <h2>尊享服务&#160; <span>IT营将为您提供以下服务致力为您提供优质产品，同时也是市场竞争必胜的保证!
互联网+</span></h2>
    
    
    
    </div>



</div>

<div id="header_title-wrapper">

    <div class="header_title clear">
        <p >
        <a href="#">服务优势</a>
        <a href="#">服务范畴</a>
        </p>
    </div>


</div>

<div id="main-wrapper">

    <div class="main">    
    
    		{{@content}}
    
    </div>
</div>

{{include "home/public/footer.html"}}
</body>
</html>
